@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="header-banner">
        <img src="/images/headbanner.jpg" width="100%"/>
    </div>

    <div class="about mt-5">
        <div class="about-text" style=" line-height: 28px; color: #4B5563;">
            <h1 style="color: #111827;">About</h1>
            <p style="font-weight: 400">
                Landify is a landing page UI kit for Figma, created to helo designers design the landing page quickly without
                having to spend much time. It is crafted with a vision to support any web project and thereby creating a block
                system that helps with all the use cases. The kit contains 170+ blocks and 500+ components. It's fully customisable, well-
                organised layers, text, color and effect styles.
            </p>
        </div>
        
    </div>
    <div class="share-feedback mt-5">
        <div class="about-text" style=" line-height: 28px; color: #4B5563;">
            <h1 style="color: #111827;">Share your feedback</h1>
            <p style="font-weight: 400">
                We hear you. We have a feedback board where we hear your feedback and suggestions to improve Landify. If you have any suggestions or feedback or ideas to improve the Landify UI Kit, please do share you thoughts.
            </p>
            <img mt-3 src="/images/Preview.jpg" alt="Alternate Text" width="100%"/>
        </div>
    </div>
     <div class="community-showcase mt-5">
        <div class="about-text" style=" line-height: 28px; color: #4B5563;">
             <h1 style="color: #111827;">Community Showcase</h1>
             <p style="font-weight: 400">
                 The Landify community is always building amazing websites. Discover the sites made using Landify across the web, find inspiration.
             </p>
             <div class="image-div d-flex gap-3 p-4 mt-3" style=" background: #111827;">
                 <img src="/images/showcase-2.png" alt="Alternate Text" width="49%" />
                 <img src="/images/showcase-1.jpg" alt="Alternate Text" width="49%" />
             </div>
         </div>
      </div>
    <hr class="hr mx-auto" style="color: #111827; margin-top: 80px"/>

    <div class="footer container d-flex justify-content-between" style="color: #4B5563;">
        <div class="footer-left" style="line-height: 28px;">
            <p style="font-weight: 500;">Landing page UI kit for Figma</p>
            <a style="font-weight: 400; color: #4b5563c2;" href="https://www.landify.design/?ref=landifyuikit">
                www.landify.design
            </a>
            <p class="mt-4" style="color: #4b5563c2">© 2021 Landify</p>
        </div>
        <div class="footer-right">
            <img src="/images/Logo.png" alt="Logo" width="100"/>
        </div>
        
    </div>


</div>
