@model IEnumerable<FirstWebApplication.Models.Product>

<h2>Product List</h2>
<div class="d-flex	">
	@foreach (var product in Model)
	{
		<div>
			<img src="@product.Image" />
			<h4>Product Id: @product.Id</h4>
			<h4>Product Name: @product.Name</h4>
			<h4>Product Quantity: @product.Quantity</h4>
		</div>
	}
</div>
