@model LoginWebPage.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Welcome to the Login Page</h2>
<p>Please log in to continue.</p>
<a asp-controller="User" asp-action="Login" class="btn btn-primary">Login</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
