@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <ul>
        @{
            for (int i = 1; i <= 10; i++)
            {
                <li class="text-center">@i</li>
            }
        }
    </ul>
    
</div>
